* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif; 
}

#three-columns {
    display: grid;
    grid-template-columns: 350px 600px 250px;
}

.mebay {
    display: inline-block;
    font-weight: bold;
    font-family: sans-serif;
}

#m {
    color: purple;
}

#e {
    color: red;
}

#b {
    color: blue;
}

#a {
    color: yellow;
}

#y {
    color: green;
}

img {
    width: 300px;
    padding-left: 10px;
}

#shop {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 10px 30px 30px;
}

#seller {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 10px 30px 30px;
}

#column-2 {
    padding-right: 25px;
}

.bulk {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 10px 15px 10px;
    text-align: center;
}

#logo {
    width: max-content;
    margin: 25px auto;
}

#savings {
    display: flex;
    gap: 25px;
    align-items: center;
}

.shipo {
    display: flex;
    gap: 25px;
    align-items: flex-start;
    p {
        margin: 0px;
    }
}

#b1 {
    background-color: #1d0090;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#b2 {
    background-color: #0a8ba8;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#b3 {
    background-color: #ffffff;
    border: 1px solid #1d0090;
    border-radius: 25px;
    color: #1d0090;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}