#p1-heading {
    font-family: cursive;
    text-align: center;
}
#p1-c1 {
    background-color: #f05d23;
    color: #261c15;
    font-family: cursive;
    text-align: center;
    padding: 24px;

}
#p1-c2 {
    background-color: #c5d86d;
    color: #f05d23;
    font-family: cursive;
    text-align: center;
    padding: 24px;

}
#p1-c3 {
    background-color: #261c15;
    color: #c5d86d;
    font-family: cursive;
    text-align: center;
    padding: 24px;

}

#p2-heading {
    font-family: cursive;
    text-align: center;
}
#p2-c1 {
    background-color: #0dab76;
    color: #053b06;
    font-family: cursive;
    text-align: center;
    padding: 24px;

}
#p2-c2 {
    background-color: #139a43;
    color: #053b06;
    font-family: cursive;
    text-align: center;
    padding: 24px;

}
#p2-c3 {
    background-color: #053b06;
    color: #0dab76;
    font-family: cursive;
    text-align: center;
    padding: 24px;

}

#p3-heading {
    font-family: cursive;
    text-align: center;
}
#p3-c1 {
    background-color: #124559;
    color: #ae3b0;
    font-family: cursive;
    text-align: center;
    padding: 24px;

}
#p3-c2 {
    background-color: #598392;
    color: #aec3b0;
    font-family: cursive;
    text-align: center;
    padding: 24px;

}
#p3-c3 {
    background-color: #aec3b0;
    color: #598392;
    font-family: cursive;
    text-align: center;
    padding: 24px;

}