@import url("https://use.typekit.net/cql7igj.css");
@import url("https://use.typekit.net/cql7igj.css");
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: black;
}

#header-navbar {
    background: linear-gradient(#C03794, #7E3393);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#header-navbar a {
    text-decoration: none;
    color: white;
    padding: 5px 24px;
}

#header-navbar img {
    height: 80px;
}

#header-navbar #logo {
    margin-right: auto;
}

#header-navbar {
    position: sticky;
    top: 0px;
}

#hero {
    background-image: url("../images/food.jpg");
    height: 100%;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    font-family: "adorn-copperplate", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#hero .hero-content {
    text-align: left;
    padding: 25px;
}

#hero h2 {
    font-size: 100px;
    color: #ffffff;
    line-height: 100px;
}

#hero h4 {
    font-size: 35px;
}

#hero a {
    font-size: 18px;
    display: inline-block;
    background-color: white;
    color: #1BACE3;
    text-decoration: none;
    padding: 10px;
    margin: 15px;
    border: 3px solid #1BACE3;
    align-items: center;
}

#layout {
    width: 50%; 
    min-width: 500px;
    padding: 0px 50px;
    margin: 50px auto;
    text-align: center;
    color: white;
    font-family: "big-caslon-fb", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

#layout h1 {
    font-size: 36px;
    color: #1BACE3;
    font-family: "adorn-copperplate", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#name1 {
    font-weight: bold;
    color: #1BACE3;
}

#layout img {
    height: 100%;
    max-height: 1000px;
}

#motto {
    font-weight: bold;
    color: #1BACE3;
    font-family: "big-caslon-fb", serif;
    font-weight: 400;
    font-style: normal;
}

#dish {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#dish img {
    margin: 100px;
}

#info {
    color: white;
    text-align: center;
    max-width: 800px;
}

#info h3 {
    font-size: 36px;
    color: #1BACE3;
    font-family: "adorn-copperplate", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#dish p {
    font-weight: bold;
    color: #ffffff;
    font-family: "big-caslon-fb", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto auto;
    gap: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-family: "big-caslon-fb", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    img {
        width: 400px;
        height: 400px;
        object-fit: cover;
    }
}

#footer-navbar {
    background: linear-gradient(to bottom, #C03794, #7E3393);
    color: white;
    padding: 12px;
    text-align: center;
    width: auto;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#footer-navbar a {
    text-decoration: none;
    color: white;
    padding-right: 36px;
}

#footer-navbar {
    width: auto;
    margin: 0px auto;
}

#footer-navbar span {
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    #header-navbar, #footer-navbar {
        flex-direction: column;
    }
    .gallery {
        grid-template-columns: 1fr;
    }
    .gallery img {
        width: 100%;
        font-size: 50px;
        flex-direction: column;
    }
}