* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.container {
    width: 75%;
    margin: 0px 20px;
}

#navbar {
    background: linear-gradient(to bottom, rgb(188, 41, 8), #6a1010);
    .container {
        display: flex;
        align-items: center;
    }
}

#logo-container {
    text-decoration: none;
    margin-right: auto;
    display: block;
}

.logo {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 12px;
}

#hero img {
    width: 100%;
    height: fit-content;
    background-size: cover;
}