@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@font-face {
    font-family: 'designer';
    src: url('../fonts/designer-webfont.woff2') format('woff2'),
         url('../fonts/designer-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#name1 a {
    text-decoration: none;
    font-family: "designer", sans-serif;
    font-weight: 700;
    font-size: 48px;
    font-style: italic;
    color: black;
    padding: 12px 60px;
}

img {
    width: 100%;
}

.h-container {
    background: linear-gradient(45deg, #E82500, #6B0000);
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        display: inline-block;
        margin: 20px 50px;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: italic;
        font-size: 60px;
    }
}

.links {
    display: flex;
    text-align: center;
}

.links a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 0px 30px 0px 0px;
}

.social {
    margin-right: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.social img {
    width: 25px;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero {
    margin: 30px;
}

.content {
    padding: 0px 20px;
    grid-area: cont;
}

.img-container {
    padding: 20px;
    max-width: 600px;
    grid-area: img;
}

#title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 38px;
    padding: 0px 50px;
}

#discipline {
    font-size: 70px;
}

#further {
    font-size: 50px;
}

#motivation {
    font-size: 60px;
}

#hi {
    font-family: "Source Sans 3", sans-serif;
    font-size: 70px;
    font-weight: 400;
    font-style: normal;
}

#mni {
    font-family: "Source Sans 3", sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
}

#name {
    font-family: "designer", sans-serif;
    font-weight: 700;
    font-size: 48px;
    font-style: italic;
    padding-right: 0px;
}

#myskills {
    font-family: "Source Sans 3", sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
}

#skills {
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    padding: 30px 0px 10px 150px;
}

#programs {
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

#layout {
    display: grid;
    grid-template-columns: 1fr 735px max-content 1fr;
    grid-template-areas: ". cont img .";
    align-items: center;
    gap: 200px;
}

.btn1, .btn2 {
    display: inline-block;
    color: black;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    padding: 15px;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50px;
    transition: 
        background-color 0.5s,
        color 0.5s
    ;
    &:hover {
        background-color: #6B0000;
        color: #ffffff;
        border-color: rgb(255, 255, 255);
    }
}

.btn3 {
    display: block;
    color: black;
    width: max-content;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50px;
    transition: 
        background-color 0.5s,
        color 0.5s
    ;
    &:hover {
        background-color: #6B0000;
        color: #ffffff;
        border-color: rgb(255, 255, 255);
    }
}

#gallery {
    font-family: "designer", sans-serif;
    font-weight: 700;
    font-size: 48px;
    font-style: italic;
    text-align: center;
}

#head {
    font-family: "designer", sans-serif;
    font-weight: 700;
    font-size: 48px;
    font-style: italic;
    text-align: center;
}

#about {
    padding: 0px 800px;
}

.cropped-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0px 400px 20px;
    img {
        width: 400px;
        height: 400px;
        object-fit: cover;
    }
}

#main-hr {
    margin: 50px;
}

.single-column-card-container {
    display: flex;
    align-items: center;
    margin: auto;
}

#card-section {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    padding: 48px;
}

.card {
    border: 3px solid #000000;
    padding: 36px;
    text-align: center;
    margin: 36px;
}

.card a {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 48px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    margin: 0px;
}

.f-container {
    display: block;
    margin: 50px;
}

a {
    display: flex;
    justify-content: center;
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9 {
    padding: 50px 500px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#info1, #info2, #info3, #info4, #info5, #info6, #info7, #info8, #info9 {
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    padding: 50px 25px;
}

#p1:hover, #p2:hover, #p3:hover, #p4:hover, #p5:hover, #p6:hover, #p7:hover, 
#p8:hover, #p9:hover {
    transform: translateY(-12px);
}

#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9 {
    transition:
        transform 0.5s
    ;
}

.btn1:hover, .btn2:hover, .btn3:hover  {
    background-color: #6B0000;
    transform: translateY(-4px);
}

.btn1, .btn2, .btn3 {
    transition:
        background-color 0.5s,
        transform 0.5s
    ;
}

.brett {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#intro {
    text-align: center;
    padding: 10px 200px;
}

#about {
    text-align: center;
}

#ab_name {
    font-weight: bold;
}

#ab_ps {
    font-weight: bold;
}

#ab_pc {
    font-weight: bold;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .h-container, #layout, .cropped-grid-gallery, .single-column-card-container, 
    .img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9, 
    #footer-navbar {
        display: flex;
        flex-direction: column;
    }
}