* {
    box-sizing: border-box;
}

body {
    color: white;
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    max-width: 800px;
    margin: 24px auto;
    text-align: center;
}

#hero {
    background-image: url(../images/hero.jpg);
    height: 100vh;
    font-size: 48px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cropped-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    gap: 10px;
    padding: 12px;
    border: 2px solid #333;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}